<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!--Form--> 
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.servlets.Form</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <!--form-->
    
    <!--success-->
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>com.servlets.Success</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <!--success-->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
